header {
    margin-bottom: 121px;
}
nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .header_number {
        display: flex;
        align-items: center;
        li {
            margin-right: 20px;
            &:hover {
                a {
                    color: black;
                    svg {
                        path {
                            fill: black;
                        }
                    }
                }
            }
        }
        a {
            display: flex;
            align-items: center;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #FFFFFF;
            svg {
                margin-right: 12px;
            }
        }
    }
    .social {
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;
        a {
            &:hover {
                svg {
                    path {
                        fill: rgb(248, 248, 248);
                    }
                }
            }
        }
    }
}
// -----------seoflow-block-------------------------
.seoflow {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    padding: 27px 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 105px;
    button {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        background: #F4AB00;
        border-radius: 32px;
        padding: 11px 26px;
        &:hover {
            background: black;
        }
        &:active {
            box-shadow: 1px 1px 5px black;
        }
    }
    img {
       width: 94px;
       height: 17px;
    }
    .seoflow_list {
        display: flex;
        justify-content: space-between;
        width: 579px;
        li {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            a {
                color: #232425;
                font-size: 16px;
                padding: 10px;
                &:hover {
                    color: #F4AB00;
                }
            }
        }
    }
}
// ------------seo-Marketing-------------
.seo_marketing {
    display: flex;
    align-items: center;
    .place {
        position: absolute;
        right: 0;
        overflow: hidden;
        width: 718px;
    }
    .seo_marketing_agency {
        width: 415px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        h2 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 70px;
            color: #FFFFFF;
            span {
                color: #F4AB00;
            }
        }
        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            color: #FFFFFF;
        }
        button {
            background: #F4AB00;
            border-radius: 32px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            padding: 15px 46px;
            text-align: center;
            color: #FFFFFF;
            &:hover {
                background: black;
            }
            &:active {
                box-shadow: 1px 1px 5px black;
            }
        }
    }
}