.building {
    background: #FFFFFF;
    box-shadow: 9px 9px 35px rgba(56, 11, 113, 0.1);
    border-radius: 10px;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    margin-bottom: 144px;
}
.building_effective {
    width: 470px;
    margin-right: 90px;
    span {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: #F4AB00;
        margin-bottom: 20px;
        display: block;
    }
    h2 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 56px;
        color: #2C1258;
        margin-bottom: 26px;
    }
    p {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        color: #604B83;
    }
}
.building_fly {
    .plane {
        display: flex;
        margin-bottom: 66px;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            margin-right: 24px;
        }
        ul {
            width: 280px;
            li {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 30px;
                color: #2C1258;
                margin-bottom: 10px;
                &:last-child {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 28px;
                    color: #604B83;
                }
            }
        }
    }
}
// ------------appear and reasons--------------
.appear {
    display: flex;
    margin-bottom: 149px;
    img {
        margin-right: 80px;
    }
    .building_effective {
        margin-right: 0;
        p {
            margin-bottom: 25px;
        }
        .appear_list {
            display: flex;
            ul {
                &:first-child {
                    margin-right: 37px;
                }
                li {
                    margin-bottom: 14px;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #2C1258;
                    display: flex;
                    align-items: center;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    svg {
                        margin-right: 19px;
                    }
                }
            }
        }
    }
}
.appear:last-child {
    flex-direction: row-reverse;
    margin-bottom: 80px;
    img {
        margin-right: 0;
        position: relative;
        bottom: 20px;
    }
    .building_effective {
        margin-right: 50px;
        width: 535px;
        .percent {
            display: flex;
            justify-content: space-between;
            .percent_download {
                display: flex;
                background: #F6F1FF;
                border-radius: 10px;
                padding: 25px 60px 25px 25px;
                img {
                    margin-right: 21px;
                    position: static;
                }
                ul {
                    li {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 36px;
                        color: #2C1258;
                        &:last-child {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 28px;
                            color: #2C1258;
                        }
                    }
                }
            }
        }
    }
}
// -----------conversion---------------
.conversion {
    padding-top: 275px;
    align-items: center;
    display: flex;
    margin-bottom: 315px;
}
.conversion_rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .place {
        position: absolute;
        right: 0;
        overflow: hidden;
        width: 718px;
    }
    .conversion_rate_card {
        margin-right: 50px;
        width: 435px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 56px;
            margin-bottom: 26px;
            color: #FFFFFF;
            span {
                color: #F4AB00;
            }
        }
        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            color: #FFFFFF;
            margin-bottom: 26px;
        }
        button {
            background: #F4AB00;
            border-radius: 32px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            padding: 15px 46px;
            text-align: center;
            color: #FFFFFF;
            &:hover {
                background: black;
            }
            &:active {
                box-shadow: 1px 1px 5px black;
            }
        }
    }
    .conversion_list {
        &:first-child {
            position: relative;
            bottom: 50px;
        }
        .conversion_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 34px 35px 50px 35px;
            background: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
            width: 315px;
            height: 286px;
            &:first-child {
                margin-bottom: 30px;
                margin-right: 30px;
            }
            h2 {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 30px;
                color: #2C1258;
            }
            img {
                width: 50px;
            }
            p {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                color: #604B83;
            }
        }
    }
}
.conversion_rate_list {
    display: flex;
    align-items: center;
}
// ------------------our-Services-----------

.our_services {
    margin-bottom: 90px;
    h6 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 56px;
        text-align: center;
        color: #2C1258;
    }
    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 31px;
        li {
            padding: 20px;
            text-align: center;
            width: 165px;
            cursor: pointer;
            &:hover {
                background: #F4AB00;
                color: white;
            }
            p {
                padding-top: 14px;
            }
        }
    }
}

.seo_money_marketing {
    display: flex;
    align-items: flex-end;
    margin-bottom: 69px;
    .marketing_card {
        margin-right: 130px;
        h5 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 34px;
            line-height: 54px;
            color: #2C1258;
            margin-bottom: 15px;
        }
        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            color: #604B83;
            margin-bottom: 20px;
        }
        ul {
            li {
                svg {
                    margin-right: 10px;
                }
                display: flex;
                align-items: center;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #2C1258;
                margin-bottom: 13px;
                &:last-child {
                    margin-bottom: 43px;
                }
            }
        }
        button {
            background: #F4AB00;
            border-radius: 32px;
            padding: 15px 46px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            &:hover {
                background: black;
            }
            &:active {
                box-shadow: 1px 1px 5px black;
            }
        }
    }
}
// ----------------seo-works--------------------

.seoworks {
    padding-top: 160px;
    margin-bottom: 272px;
    .seoworks_step {
        margin: auto;
        width: 425px;
        margin-bottom: 88px;
        h5 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 56px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 44px;
            span {
                color: #F4AB00;
                ;
            }
        }
        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 9px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .seoworks_spyro {
        display: flex;
        justify-content: space-around;
        .stick1 {
            position: relative;
            right: 135px;
            top: 30px;
            .stick {
                position: absolute;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 240px;
            li {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 15px;
                &:first-child {
                    margin-bottom: 25px;
                }
                &:nth-child(2){
                    font-size: 20px;
                }
            }
        }
    }
}
// -------------marketing--------------

.marketing {
    .marketing_team {
        margin: auto;
        margin-bottom: 60px;
        h5 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 56px;
            text-align: center;
            color: #2C1258;
            margin-bottom: 11px;
        }
        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            text-align: center;
            color: #604B83;
        }
    }
}